<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Article</title>
</head>
<body>
    <h1>Add a New Article</h1>

    <p>
      Home page:
      <a href="http://127.0.0.1:5000/">Click here</a>
    </p>

    <form method="POST" action="/add_article">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br><br>

        <label for="content">Content:</label><br>
        <textarea id="content" name="content"></textarea><br><br>

        <input type="submit" value="Add Article">
    </form>
    {% if success %}
        <p>Article successfully created!</p>
    {% endif %}
</body>
</html>
